<ul>
  <li>
    Name: <%= classroom.student.name %>
  </li>
  <li>
    Birthday: <%= classroom.student.birthday.strftime("%m/%d/%Y")  %>
  </li>
  <li>
    Hometown: <%= @student.hometown.capitalize %>
  </li>
</ul>
